
/* 
this page of css is for the main frame of the website
for example, the navigation bar's css can be found here
*/

        #calculator-gpa, /*If this was not here, then there would be a weird glitch every time the website reloaded*/
        #section4  {
            display: none;
        }   

        body {
          margin: 0;
          padding: 0;
          font-family: 'Rubik';
        }

      /* Navigation Bar */
      .navbar {
        background-color: #111b3e;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
    }
    
    .navbar a {
        float: right;
        display: block;
        color: white;
        text-align: center;
        padding: 20px 16px;
        text-decoration: none;
        font-weight: bold;
        padding-right: 25px;
        padding-left: 25px;
    }
    
    .navbar a:hover {
        background-color: #071238;
    }
    
    .navbar-image {
        width: 500px;
        padding-top: 10px;
        padding-left: 100px;
        height: auto;
    }
    
    /* Responsive styles for smaller screens */
    @media (max-width: 600px) {
        .navbar a {
            float: none;
            display: block;
            text-align: left;
            width: 100%; /* Take full width on smaller screens */
            box-sizing: border-box; /* Include padding and border in the width calculation */
        }
    
        .navbar-image {
            width: 100%;
            padding-left: 0;
        }
    }

      /* Calculator Buttons and other parts related to it (notes: fix later) */
      /* Header Section */
      .header {
          background-color: #071238;
          color: white;
          text-align: center;
          padding: 60px 0;
      }

      /* Content Sections */
      .content {
          padding: 40px;
          text-align: center;
      }

      /* Section-Specific Styles */
      /* Home */
      .section1 {
          background-color: #f0f0f0;
          background-image: url('college.png');
          background-size: cover;
          background-position: center;
          display: flex;
          align-items: center; /* Center vert */
          justify-content: center; /* Center horizontal */
          height: 100vh; /* Full viewport height */
          margin-top: -80px;
      }


      

    /* Button Styles */
    .button {
      /*put good font*/
      background-color: #0d2a8a;
      color: white;
      border: none;
      border-radius: 8px;
      padding: 10px 20px;
      margin: 5px;
      cursor: pointer;
  }

  .button:hover {
      background-color: rgba(34, 20, 231, 0.649);
  }











  