/* 
this page of css is fairly simple
it is only used to style the resources page
*/

h4 {
  font-size: 16px;
}

.section2 {
  background-color: #0a2e7f;
  margin-top: -80px;
  }

#resource-p {
  font-size: 15px;
  margin-top: -10px;
}


  
  #resources {
  background-color: #0a2e7f;
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  }
  
  
.resource-box {
  font-family: 'Rubik';
  background: #f1eded;
  border: 1px solid #333;
  width: calc(100% / 3);
  height: auto;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  border-width: 10px;
  border-color: #f4ab19;
  border-style: outset;
}
  
  .resource-box img {
  width: calc(100%/1.5);
  height: 200px;
  }
  
  .resource-box h2 {
    font-family: 'Rubik';
    color: #333;
    text-decoration: underline;
  }
  
  .resource-box p {
  font-size: 14px;
  }
  
  
  
  
  
  
  
  
  .delete {
    width: 200px;
  }